/** Declaración de Constantes **/
:root {

    /** Colores **/
    --white: hsl(0, 0%, 100%);
    --stone--100: hsl(30, 54%, 90%);
    --stone--150: hsl(30, 18%, 87%);
    --stone--600: hsl(30, 10%, 34%);
    --stone--900: hsl(24, 5%, 18%);
    --brown-800: hsl(14, 45%, 36%);
    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);

    /** Fuentes **/
    --fuente-1: "Young Serif", serif;
    --fuente-2: "Outfit", sans-serif;

    /** Pesos **/
    --peso-400: 400;
    --peso-600: 600;
    --peso-700: 700;

    /** Tamaño fuente **/
    --tamaño: 16px;
}

@media (min-width:300px) and (max-width: 767px) {

    /** Estilo del cuerpo de la receta **/
    .card-receta {
        background-color: var(--white);
        margin: 0px;
        width: 100%;
    }

    /** Estilo Foto de receta **/
    .foto-receta {
        border-radius: 0px;
        height: auto;
        margin: 0px;
        width: 100%;
    }

}

@media (min-width: 768px) and (max-width: 1023px)  {

    /** Estilo del cuerpo de la receta **/
.card-receta {
    background-color: var(--white);
    height: auto;
    width: 75%;
}

}